<div class="logo">
  <div align="center">
    <a routerLink="/home" routerLinkActive="active"><img src="./assets/logo2.png"></a>
  </div>
</div>
<div class="game-nav-button"><a routerLink="/gra" routerLinkActive="active"><img src="./assets/gra.png"></a></div>
<div class="header-bar">
  <div class="menu-bar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Strona główna</a></li>
      <li><a routerLink="/statystyki" routerLinkActive="active">Ranking</a></li>
      <li><a routerLink="/poradnik" routerLinkActive="active">Poradnik</a></li>
      <li><a routerLink="/gra" routerLinkActive="active"></a></li>
      <li><a routerLink="/znajomi" routerLinkActive="active">Znajomi</a></li>
      <li class="act"><a routerLink="/wiadomosci" routerLinkActive="active">Wiadomości</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Inne</a>
          <div class="dropdown-content">
            <a *ngIf="!loggedIn" routerLink="/logowanie" routerLinkActive="active">Logowanie</a>
            <a routerLink="/profil" routerLinkActive="active">Profil</a>
            <a href="#" *ngIf="loggedIn" (click)="logout()">wyloguj</a>
          </div>
      </li>
    </ul> 
  </div>
</div>
<br>
<br>
<div class="card2" align="center" *ngIf="!loggedIn">
  <h1 align="center">Przepraszamy, musisz być zalogowany aby przejrzeć tę stronę</h1><hr>
  <button routerLink="/logowanie" routerLinkActive="active">Zaloguj się</button>
</div> 
<div *ngIf="loggedIn">
    <a class="messagesRoute" routerLink="/wiadomosci/wyslane" routerLinkActive="active">Elementy Wysłane</a> <br><br><br>
  <a class="messagesRoute" routerLink="/wiadomosci/wyslij" routerLinkActive="active">Wyślij wiadomość</a>

  <h1 class="message-text" align="center">Wiadomości odebrane</h1>
  <br>
  <br>
  <div class="search-messages" align="center"></div>
  <div class="user-messages" align="center">
    <ul>
      <li class="message-list" *ngFor="let message of messages"> OD: {{message.sender}} TRESC: {{message.message}}</li>
    </ul>
  </div>
</div>



