<div class="logo">
  <div align="center">
    <a routerLink="/home" routerLinkActive="active"><img src="./assets/logo2.png"></a>
  </div>
</div>
<div class="game-nav-button"><a routerLink="/gra" routerLinkActive="active"><img src="./assets/gra.png"></a></div>
<div class="header-bar">
  <div class="menu-bar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Strona główna</a></li>
      <li><a routerLink="/statystyki" routerLinkActive="active">Ranking</a></li>
      <li><a routerLink="/poradnik" routerLinkActive="active">Poradnik</a></li>
      <li><a routerLink="/gra" routerLinkActive="active"></a></li>
      <li><a routerLink="/znajomi" routerLinkActive="active">Znajomi</a></li>
      <li><a routerLink="/wiadomosci" routerLinkActive="active">Wiadomości</a></li>
      <li class="dropdown">
        <a href="" class="dropbtn">Inne</a>
          <div class="dropdown-content">
            <a routerLink="/logowanie" routerLinkActive="active">Logowanie</a>
            <a routerLink="/ustawienia" routerLinkActive="active">Ustawienia</a>
            <a routerLink="/profil" routerLinkActive="active">Profil</a>
          </div>
      </li>
    </ul> 
  </div>
</div>
<br>
<br>
<h1 class="settings-text" align="center">Ustawienia</h1>
<br>
<br>
<div class="settings">
  <div class="setting-display" align="center"><h2>Dostępne wkrótce</h2></div>
</div>



